*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --blue:rgb(48,97,224) ;
    --white: rgb(255,255.255);
}

/* generics */
body{
    max-width: 100%;
}
/* Utils */
.container{
    width: 1200px;
    margin: 0 auto;
}

.w-25{
    width:25%;
}

.w-50{
    width:50%;
}

.w-30{
    width:30%;
}

.w-60{
    width:60%;
}

.w-40{
    width:40%;
}
.d-flex{
    display: flex;
}

.il-block{
    display: inline-block;
}




/* Header */
header{
    color: #fff;
    background-color: var(--blue);
}
.nav-bar{
    height: 80px;
    align-items: center;

}
.nav-menu{
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: var(--white);
}
.log-in{
    text-align: end;
}
div .log-in-cell{
    display: inline-block;
    width: 80px;
    height: 40px;
    vertical-align: middle;
    border-radius: 20px;
    background-color: #fff;
    color: black;
    line-height: 40px;
    text-align: center;
    
}

#jumbotron{
    width: 100%;
    height: 700px;
    background-image: url(img/img/jumbo.png);
    background-position: center;
    background-size: cover;
}

.content {
    padding-top: 100px ;
    text-align: center;
    margin: 0% auto;
    
}
h1{
    padding-top: 50px;
    padding-bottom: 50px;
}

.download-cell{
    margin-top: 30px;
    margin-right: 20px;
    padding: 15px;
    color: black;
    background-color: #fff;
    border-radius: 50px;
}

.open{
margin-top: 30px;
padding: 15px;
background-color: #22272A;
border-radius: 50px;
}

